.about{
    font-family: Mulish;
    margin-top: 65px;

    &__title{
        font-weight: 700; 
        font-size: 32px;
    }
}
.slider {
    width: 100%;
    max-width: 1107px;
    margin: 0 auto;
    position: relative;

    // .slider__wrapper

    &__wrapper {
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }
    &__item {
        position: absolute;
        overflow: hidden;
        &-title{
           margin: 33px 0;
           text-align: center;
           font-weight: 700;
           color: #3C64B1;
           font-size: 32px;
        }
    }
    // .slider__nav

    &__nav {
        position: relative;
        padding-top: 70px;
    }

    // .slider__nav-menu

    &__nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
.menu {

    // .menu_item-link

    &_item-link {
 
    }

    // .menu__item

    &__item {
    }
}
.slider__img{
    position: absolute;
    cursor: pointer;
}
.nextHandler{
    top: 75%;
    right: 0;
    transform: translate(0, -50%);
}
.prevHandler{
    top: 75%;
    left: 0;
    transform: translate(0, -50%);

}