//import fonts 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter:wght@400;500;700&family=Mulish:wght@400;500;600;700;800&family=Poppins:wght@400;600&display=swap');
$font-size-title-small:24px;
$font-size-title:32px;
$font-size-title-big:44px;
$font-size-subtitle:16px;
$font-size-subtitle-small:12px;
$font-size-link:18px;