.header {
    font-family: 'Mulish';
    background-color: $background-header;
    &__container {
        max-width: 1467px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__logo{
        width: 100%;
        max-width: 203px;
        height: 88px;
        background-image: url("/assets/logo_white_them.svg");
        background-repeat: no-repeat;
    }
   &__menu {
    display: flex;
   }
  
}

.menu__list {
    display: flex;
    align-items: center;
   
}

.list__item{
    &-link{
        font-weight: 800;
        margin-right: 48px;
        color: $default-color;
        font-size: $font-size-link;
        &:hover{
            color: #3C64B1;
        }
    }
}
.reg{
    display: flex;
    gap: 20px;
    > button:first-child { 
        padding: 14px 20px;
    }
    > button:last-child { 
        padding: 14px 49px;
    }
}
.change__them{
    width: 50px;
    height:50px;
    max-height: 50px;
    border: none;
    background-image: url(/assets/dark_them_icon.svg);
    background-repeat: no-repeat;
}