.library {

    // .library__main

    &__main {
        padding-top:214px;
        
    }

    // .library__section

    &__section {
       display: grid;
       grid-template-columns: 1fr 1fr;
       
    }
}
