/* informational-user */
.informational-user{
    display: flex;
    justify-content: space-around;
    width: 1622px;
    height: 572px;
    margin: 1% auto;
}

.text-title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2px;
    color: #333333;
}
/* information-basic*/
.information-basic{}

.logo-img{
    width: 200px;
    height: 200px;
}

.text-name-city{
    width: 88px;
    height: 30px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #333333;
}

.city-user{
    width: 300px;
    height: 49px;
    border: 1px solid #000000;
    border-radius: 12px;
    box-sizing: border-box;
}

.btn-create{
    width: 339px;
    height: 46px;
    background: #3C64B1;
    border-radius: 12px;
}

.btn-text{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #F5F7FB;
    cursor: pointer;
}
/* information-basic*/

/* info-biogrfi */
.info-biogrfi{
    display: flex;
    width: 1227px;
    height: 279px;
    flex-direction: column;
    align-items: flex-start;
}

.about-user{
    box-sizing: border-box;
    width: 1239px;
    height: 214px;
    left: 0px;
    top: 66px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 12px;
}

.text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.1px;
    align-items: center;
    padding: 0.5% 3% 0 3%;
    justify-content: center;
    color: #333333;
}
/* info-biogrfi */

/* informational-user */