/* informational-user */

.wrapper{
    display: flex;
    justify-content: space-around;
    width: 1467px;
    height: 500px;
    margin: 1% auto;
}

/* information-basic*/
.main__wrapper{
    .logo-avatar{
        width: 200px;
        height: 200px;
        filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
    }
    >button {
        padding: 14px 20px;
    }
    .title-text{
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 44px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.2px;
        color: #333333;
    }
    .title-subtitle{
        width: 88px;
        height: 30px;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        letter-spacing: 0.2px;
        color: #333333;
    }
    .title-subtitle-profesion{
        width: 300px;
        height: 54px;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #5151E5;
    }
    .city-user{
        width: 300px;
        height: 49px;
        border: 1px solid #000000;
        border-radius: 12px;
        box-sizing: border-box;
    }
    .btn-create{
        width: 339px;
        height: 46px;
        background: #3C64B1;
        border-radius: 12px;
    }
    
    .btn-text{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.3px;
        color: #F5F7FB;
        cursor: pointer;
    }
}

/* information-basic*/

/* info-biogrfi */
.biogrfi__wrapper{
    margin: 1.5% auto;
    width: 1220px;
    height: 280px;
    .title-text-biogrfi{
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 56px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.2px;
        color: #333333;
    }
    .text-desk{
        box-sizing: border-box;
        position: absolute;
        width: 1220px;
        height: 215px;
        padding: 66px 0 0 0;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 12px;
    }
    .text-about-user{
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.1px;
        align-items: center;
        padding: 0.5% 3% 0 3%;
        justify-content: center;
        color: #333333;
    }
}
/* info-biogrfi */

/* informational-user */

/* Videos start */
.block-video{
    display: flex;
    justify-content: center;
    .video__element{
        width: 1100px;
        height: 706px;
        background: #D9D9D9;
        box-shadow: 1px 4px 23px rgba(0, 0, 0, 0.15);
        border-radius: 36px;
    }
}
/* Videos end */

/* block-line start */
.block-line{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    .line{
        width: 1467px;
        height: 1px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.15);
        background-color: #DBDBDB;
    }
}
/* block-line end */

/* mine article start */
.main-article{
    width: 1000px;
    height: 895px;
    margin: 50px auto;
    .article-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title-text-article{
            display: flex;
            align-items: center;
            text-align: center;
            width: 240px;
            height: 40px;
            margin: 0 0 70px 0;
            .text-article{
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 800;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0.2em;
                color: #000000;
            }
        }
        .search-input{
            width: 998px;
            height: 48px;
            background: #F4F6FB;
            border: 1px solid #3C64B1;
            border-radius: 12px;
            .text-input{
                font-family: 'IBM Plex Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #565353;
            }
        }
        .text-articl{
            font-family: 'IBM Plex Sans';
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 40px;
            align-items: center;
            text-align: center;
            letter-spacing: 0.2px;
            color: #000000;
        }

        /* card-urticle-new start */
        .card-urticle-new{
            display: flex;
            padding: 18px 29px 29px;
            margin: 31px auto;
            flex-direction: column;
            align-items: flex-start;
            gap: 18px;
            background: #F4F6FB;
            box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.15);
            border-radius: 36px;
            .section-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 275px;
                height: 38px;
                .avatar{
                    width: 40px;
                    height: 38px;
                    filter: drop-shadow(0px 4.5045px 4.5045px rgba(0, 0, 0, 0.1));
                    backdrop-filter: blur(2.25225px);
                    border-radius: 62.5px;
                }
                .text-name{
                    width: 67px;
                    height: 29px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;
                    color: #333333;
                }
                .data-post{
                    width: 154px;
                    height: 29px;
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 23px;
                    color: #5A5A5A;
                }
            }
            .title-article{
                display: flex;
                width: 330px;
                height: 35px;
                .text-name-article{
                    width: 153px;
                    height: 35px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 33px;
                    color: #333333;
                }
                .item-subject{
                    margin: auto;
                    width: 169px;
                    height: 20px;
                    .ul-list{
                        display: flex;
                        align-items: end;
                        justify-content: space-around;
                    }
                    .list-item{
                        list-style-type: square;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 20px;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
            }

            .articl-block-info{
                width: 931px;
                height: 94px;
                .text-articl-info{
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.06em;
                    color: #333333;

                }
            }

            /* btn start */
            .btn-block{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 34px;
                width: 338px;
                height: 59px;

                /* btn-download */
                .btn-download{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 17px 23px;
                    gap: 10px;
                    width: 180px;
                    height: 59px;
                    background: #3C64B1;
                    border-radius: 20px;
                    cursor: pointer;
                }
                .text-btn-download{
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 25px;
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                /* btn-download */

                /* btn-create */
                .btn-create{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 17px 23px;
                    gap: 10px;
                    width: 124px;
                    height: 59px;
                    left: 214px;
                    top: 0px;
                    border: 1px solid #3C64B1;
                    border-radius: 20px;
                    cursor: pointer;
                }
                .text-btn-create{
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 25px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #3C64B1;
                }
                /* btn-create */
            }
            /* btn end */
        }
        /* card-urticle-new end */

        /* card-urticle-editinig start*/
        .card-urticle-editinig{
            display: flex;
            padding: 18px 29px 29px;
            margin: 41px auto;
            flex-direction: column;
            align-items: flex-start;
            gap: 18px;
            background: #F4F6FB;
            box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.15);
            border-radius: 36px;
            .section-info-2{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 353px;
                height: 38px;
                .avatar{
                    width: 40px;
                    height: 38px;
                    filter: drop-shadow(0px 4.5045px 4.5045px rgba(0, 0, 0, 0.1));
                    backdrop-filter: blur(2.25225px);
                    border-radius: 62.5px;
                }
                .text-name{
                    width: 67px;
                    height: 29px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;
                    color: #333333;
                }
                .text-article-creat{
                    width: 233px;
                    height: 23px;
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 23px;
                    color: #3C64B1;
                }
            }
            .title-article-aside{
                display: flex;
                width: 420px;
                height: 35px;
                .text-name-article{
                    width: 152px;
                    height: 35px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 33px;
                    color: #333333;
                }
                .text-article-creat{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #3C64B1;
                    cursor: pointer;
                }
                .item-subject-show{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: auto;
                    width: 248px;
                    height: 20px;
                    .dropdown{
                        width: 46px;
                        height: 20px;
                        z-index: 1;
                        position: relative;
                        .dropdown__selected{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 20px;
                            color: rgba(0, 0, 0, 0.5);
                            cursor: pointer;
                        }
                        .dropdown__options{
                            width: 105px;
                            height: 121px;
                            padding: 0;
                            margin: 0;
                            top: 100%;
                            left: 31%;
                            transform: translateX(-31%);
                            border-top: none;
                            list-style-type: none;
                            background: #D9D9D9;
                            border-radius: 2px;
                            z-index: 2
                        }
                        .dropdown__option{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 20px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            justify-content: center;
                            width: 105px;
                            height: 20px;
                            color: rgba(0, 0, 0, 0.5);
                            cursor: pointer;
                        }
                    }
                }
            }
            .articl-block-info{
                box-sizing: border-box;
                width: 936px;
                height: 94.95px;
                left: 29px;
                top: 127.13px;
                background: #FFFFFF;
                border: 1px solid #000000;
                border-radius: 12px;
                .text-articl-info {
                    width: 925px;
                    height: 93px;
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    /* or 120% */
                    display: flex;
                    align-items: center;
                    margin: auto;
                    letter-spacing: 0.06em;
                    color: #333333;
                }
            }
            /* block btn 2 start */
            .btn-block-created{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                max-width: 950px;
             
                .btn-block-start{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 34px;
                    > button:first-child {
                        padding: 17px 23px;
                    }
                    > button:nth-child(2) {
                        padding: 17px 23px;
                    }
                    > button:last-child {
                        padding: 17px 23px;
                    }
                    .btn-attach{
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 17px 23px;
                        gap: 10px;
                        height: 59px;
                        background: #3C64B1;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                    .text-btn-attach{
                        font-family: 'Mulish';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 25px;
                        display: flex;
                        align-items: center;
                        color: #FFFFFF;
                    }
    
                    .btn-saved{
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 17px 23px;
                        gap: 10px;
                        width: 137px;
                        height: 59px;
                        left: 265px;
                        top: 0px;
                        background: #3C64B1;
                        border: 1px solid #3C64B1;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                    .text-btn-saved{
                        font-family: 'Mulish';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 25px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }
                .btn-deleted{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 17px 23px;
                    gap: 10px;
                    width: 217px;
                    height: 59px;
                    left: 679px;
                    top: 0px;
                    border: 1px solid #3C64B1;
                    border-radius: 20px;
                    cursor: pointer;
                }
                .text-btn-deleted{
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 25px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #3C64B1;
                }
            }
            /* block btn 2 end */
        }
        /* card-urticle-editinig end*/
    }
    .paginator{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 62px;
        margin: 50px 0 0 0;
        gap: 259px;
        width: 995px;
        height: 77px;
        background: #F4F6FB;
        box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        /* Inside auto layout */
        flex: none;
        order: 2;
        flex-grow: 0;
        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            width: 932px;
            height: 115px;
        }
        .text-come-back{
            width: 94px;
            height: 33px;
            display: flex;
            align-items: center;
            .text-back{
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                color: #000000;
                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 1;
            }
        }
        .text-forward-go{
            display: flex;
            align-items: center;
            text-align: right;
            width: 94px;
            height: 25px;
            .text-forward{
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                /* identical to box height */
                color: #000000;
                /* Inside auto layout */
                flex: none;
                order: 2;
                flex-grow: 1;
            }
        }
        .list-container{
            display: flex;
            align-items: center;
            .list-item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 166px;
                height: 53px;
            }
            .item {
                width: 15px;
                height: 33px;
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                display: flex;
                align-items: center;
                text-align: center;
                color: black;
                cursor: pointer;
                &.active {
                    width: 49px;
                    height: 53px;
                    justify-content: center;
                    align-items: center;
                    background: #3C64B1;
                    border-radius: 20px;
                    color: #fff;
                }
            }
        }
    }
}

/* mine article end */
/*
.main {

    // .main__wrapper

    &__wrapper {
    }
}
.wrapper {
}
.logo-avatar {
}
.title-text {
}
.city-user {
}
.title-subtitle {
}
.title-subtitle-profesion {
}
.btn-text {
}
.btn-create {
}
.biogrfi {

    // .biogrfi__wrapper

    &__wrapper {
    }
}
.title-text-biogrfi {
}
.text-about-user {
}
.text-desk {
}
.block-video {
}
.video-wrapper {
}
.video-item {
}
.video {

    // .video__element

    &__element {
    }
}
.block-line {
}
.line {
}
.main-article {
}
.article-wrapper {
}
.title-text-article {
}
.text-article {
}
.search-input {
}
.text-input {
}
.card-urticle-new {
}
.section-info {
}
.avatar {
}
.text-name {
}
.data-post {
}
.title-article {
}
.text-name-article {
}
.item-subject {
}
.ul-list {
}
.list-item {
}
.articl-block-info {
}
.text-articl-info {
}
.btn-block {
}
.btn-download {
}
.text-btn-download {
}
.text-btn-create {
}
.card-urticle-editinig {
}
.section-info-2 {
}
.text-article-creat {
}
.title-article-aside {
}
.item-subject-show {
}
.dropdown {

    // .dropdown__selected

    &__selected {
    }

    // .dropdown__options

    &__options {
    }

    // .dropdown__option

    &__option {
    }
}
.btn-block-created {
}
.btn-block-start {
}
.text-btn-attach {
}
.btn-attach {
}
.text-btn-saved {
}
.btn-saved {
}
.text-btn-deleted {
}
.btn-deleted {
}
.paginator {
}
.container {
}
.text-come-back {
}
.text-back {
}
.list-container {
}
.item {
}
.text-forward-go {
}
.text-forward {
}
*/