// colors
$background-header:#F4F6FB;
$default-color:#373F41;
$subtitle-color:#737B7D;
$without-hover-btn:#3C64B1;
//imports files
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter:wght@400;500;700&family=Mulish:wght@400;500;600;700;800&family=Poppins:wght@400;600&display=swap');
@import '_header';
@import '_hero';
@import '_footer';
@import '_reset';
@import 'Button.module';

//all classes
[class*=__container] { 
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
}