// colors
$background-header:#F4F6FB;
$default-color:#373F41;
$subtitle-color:#737B7D;
$without-hover-color:#3C64B1;
//font size
$font-size-title:32px;
$font-size-title-big:44px;
$font-size-subtitle:16px;
$font-size-subtitle-small:12px;
$font-size-link:18px;
//import fonts 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter:wght@400;500;700&family=Mulish:wght@400;500;600;700;800&family=Poppins:wght@400;600&display=swap');
//mixin

@mixin hover-effect { 
    &:hover{
        color: #fff;
        background-color: $without-hover-color;
    }
}
//imports files

@import '_header';
@import '_hero';
@import '_history';
@import '_footer';
@import '_reset';
@import '_card';

@import"_maininfo";

//all classes
[class*=__container] { 
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
}