//mixin
@mixin hover-effect { 
    &:hover{
        color: #fff;
        background-color: $without-hover-color;
    }
}
//imports files
@import '_header';
@import '_hero';
@import '_aboutMediation';
@import '_aboutProject';
@import '_footer';
@import '_reset';
@import '_card';
@import '_errorPage';
@import 'style/_libraryPage.scss';

//all classes
[class*=__container] { 
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
}